{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "only-warn", "jsx-a11y", "import"],
  "parser": "babel-eslint",
  "globals": {
    "document": false,
    "window": false
  },
  "rules": {
    "max-params": ["error", 3],
    "no-confusing-arrow": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [1, { "skipUndeclared": true }],
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 1,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "jsx-a11y/no-static-element-interactions": 0,
    "linebreak-style": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/extensions": ["off", "never"],
    "import/no-unresolved": "off",
    "class-methods-use-this":["off"],
    "prettier/prettier": ["error"],
    "comma-dangle": ["error", "always-multiline"],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-a11y/label-has-for": [0]
  }
}
