language: node_js
node_js:
- 9
jobs:
  include:
    - stage: test
      if: tag IS present
      script: npm run test
    - stage: gh-pages
      if: tag IS present
      script: 
      - npm run predeploy
      deploy:
        provider: pages
        local-dir: storybook-static
        skip-cleanup: true
        github-token: $GITHUB_TOKEN
        keep-history: true
        on:
          tags: true
    - stage: npm release
      if: tag IS present
      after_success:
        - npm run build
      before_deploy:
        - cd dist
      deploy:
        provider: npm
        skip_cleanup: true
        email: leo01_alves@hotmail.com
        tag: latest
        api_key:
          secure: $NPM_AUTH_KEY
        on:
          tags: true
          repo: 4alltecnologia/4all-ui